.container {
  text-align: center;
}

.item {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  max-width: 70px;
}
.text {
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}

.online {
  font-size: 10px;
  color: #090;
}
.offline {
  font-size: 10px;
  color: #f00;
}
.img {
  margin-bottom: 7px;
}
